In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys 
import os

In [22]:

sys.path.append(os.path.abspath('C:/Users/AGP/Desktop/project/Redash-LLM-Assistant'))
cities_data = 'C:/Users/AGP/Desktop/project/Redash-LLM-Assistant/Data/Cities/Chart data.csv'
table_data_cities = 'C:/Users/AGP/Desktop/project/Redash-LLM-Assistant/Data/Cities/Table data.csv'

df = pd.read_csv(cities_data)

In [23]:
df.head()

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0

In [24]:
selected_columns = df[['Cities', 'City name']].head()
selected_columns

                                  Cities    City name
0  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa
1  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa
2  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa
3  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa
4  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa

In [25]:
filtered_rows = df[df['City name'] == 'Addis Ababa'].head(5)
filtered_rows

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0